@(elementID: String)(implicit messages: Messages)
<div class="d-flex justify-content-between align-items-end flex-wrap pb-2 mb-3">
	<nav aria-label="">
		<ul class="pagination">
			<li id="graphlink" class="page-item active" aria-current="page">
				<span class="page-link">Graphs</span>
			</li>
			<li id="tablelink" class="page-item"><span class="page-link">Table</span></li>
		</ul>
	</nav>
	<div class="btn-toolbar mt-2 mb-0 mr-sm-2 flex-column flex-lg-row">
		<div class="input-group m-1">
			<div class="input-group-prepend">
				<label for="@elementID-select-tab" class="input-group-text">
					<span class="sr-only">Data picker for map</span>
					@components.bootstrap_icon("folder", "bi-16")
				</label>
			</div>
			<select id="@elementID-select-tab" class="custom-select btn-outline-secondary h-100" data-style="btn-primary">
				<option value="ccg-cc" selected="selected">Clinical Commissioning Groups / Charities</option>
				<option value="ccg-ch">Clinical Commissioning Groups / Company</option>
				<option value="trust-cc">Trusts / Charities</option>
				<option value="trust-ch">Trusts / Company</option>
			</select>
		</div>
		@*<div class="input-group m-1">
			<div class="input-group-prepend">
				<label for="@elementID-report-picker" class="input-group-text">
					<span class="sr-only">Report picker</span><span data-feather="calendar"></span>
				</label>
			</div>
			<select id="@elementID-report-picker" class="custom-select btn-outline-secondary h-100" data-style="btn-primary">
				<option value="latest">Latest<span class="spinner-border spinner-border-sm"></span></option>
				<option value="latest">2018-05</option>
				<option value="latest">2018-06-05</option>
			</select>
		</div>*@
		<div class="input-group m-1">
			<div class="input-group-prepend">
				<label for="@elementID-select-column" class="input-group-text">
					<span class="sr-only">Model prediction picker for map</span>
					@components.bootstrap_icon("bar-chart-line-fill", "bi-16")
				</label>
			</div>
			<select id="@elementID-select-column" class="custom-select btn-outline-secondary h-100" data-style="btn-primary">
				<option value="Value (%)" selected="selected">Value to VCS (%)</option>
				<option value="Count (%)">Count to VCS (%)</option>
				<option value="Value (m)">Value of Payments (millions)</option>
			</select>
		</div>
		<div class="btn-group btn-group-sm m-1">
			<button
					id="@elementID-csvlink"
					type="button"
					class="btn btn-outline-secondary d-flex"
			>
				<div class="m-1">@messages("controls.data.download")</div>
				<div class="m-1">@components.bootstrap_icon("download", "bi-16", messages("controls.data.download"))</div>
			</button>
		</div>
	</div>
	<div>
		<p>This dashboard describes the involvement of VCS and private sector contractors in the role of NHS procurement between 2012-2020 across both CCG and NHS Trust hierarchies.</p>
		<p>It remains under development. See the appropriate GitHub repositories for all data and forthcoming future improvements.</p>
	</div>
	<div class="pt-4">
		<a href="" target="_blank" rel="noopener">@components.bootstrap_icon("file-richtext", "bi-16")<span class="ml-1">Paper</span></a>
		<br/>
		<a href="https://github.com/crahal/NHSSpend/" target="_blank" rel="noopener">@components.bootstrap_icon("github", "bi-16")<span class="ml-1">Data</span></a>
		<br/>
		<a href="https://github.com/ianknowles/nhsspenddash" target="_blank" rel="noopener">@components.bootstrap_icon("github", "bi-16")<span class="ml-1">Code</span></a>
	</div>
</div>
